.InputEdit {
    border: 2px solid #5969ff;
    border-radius: 5px;
    height: 25px;
    width: 110px;
    font-size: 15px;
    font-weight: 600;
    background: #282c34;
    color: #fff;
}
.InputEdit:focus {
    outline: none;
    box-shadow: 0 0 7px #7f4fdc;
}
.InputEdited {
    background: #556da0;
}
.InputBlock {
    margin: 0 5px;
}
.InputError {
    background: #ad4646;
    border: 2px solid #c13f3f;
    &:focus {
        box-shadow: 0 0 7px #c13f3f;
    }
}
.alarmMes {
    position: absolute;
    margin: 0 0 0 5px;
    display: block;
    background: #ff1f1f8a;
    font-size: 15px;
    padding: 0px 7px;
    border-radius: 5px;
    z-index: 9;
}
.approvMes {
    position: absolute;
    margin: 0 0 0 7px;
    display: block;
    background: #53ff1fb9;
    font-size: 15px;
    padding: 0px 7px;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    z-index: 9;
}

