body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #282c34;
}

.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
  margin: 0 auto;
  color: white;
}

.App-link {
  color: #61dafb;
}

.headline {
  margin-bottom: 2.5rem;
}